@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import 'tailwindcss';

@theme inline {
  --font-comfortaa: 'Comfortaa', sans-serif;
}

body {
  font-family: var(--font-comfortaa);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
